*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav CSS */
.nav{
    background-color: black;
}
.nav__container{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    list-style-type: none;
}
.nav__container li{
    background-color: white;
}
.nav__container li img{
    width: 20px;
    height: 20px;
}
/* header CSS */
header{
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    /* border: 1px solid red; */
}
header h1,h3{
    text-align: center;
    margin: 15px;
}
.header__container{
    position: relative;
    height: 1100px;
    background-image: url("./image/resources/jane.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__container__content{
    position: absolute;
    min-width: 60%;
    bottom: 20%;
    font-family: sans-serif;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.header__container__content p{
    color: white;
    padding-bottom: 15px
}
.header__container__content .button{
    width: 150px;
    height: 60px;
    background-color: grey;
}
/* main CSS */
main{
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    column-gap: 15px;
}
.main__section__all{
    /* border: 1px solid blue; */
    background-color: rgb(241, 234, 234);
    display: flex;
    flex-direction: column; /*for mobile*/
}
main section{
    flex: 2;
}
main aside{
    /* border: 1px solid green; */
    flex: 1;
}
.main__content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
}
.main__content__text{
    text-align: center;
    padding: 5px;
}
.main__content__text p{
    margin-bottom: 30px;
}
/*  */
.main__content__image{
    margin-bottom: 15px;
}
.main__content__image img{
    width: 100%;
    height: 100%;
}
/*  */
.main__content__review{
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 15px;
}
/*  */
.main__content__likeReply{
    margin-bottom: 30px;
}
.main__content__likeReply img{
    width: 50px;
    height: 35px;
    float: left;
}
.main__content__likeReply span{
    background-color: black;
    color: white;
    padding: 10px;
    float: right;
}
/*  */
.main__content__comment{
    display: flex;
}
.main__content__comment img{
    display: block;
    width: 200px;
    height: 200px;
    margin-right: 50px;
}
.main__content__comment div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__content__comment div span{
    padding: 15px;
}
/* main - aside CSS */
/*  */
.main__aside__all{
    
}
.main__aside__all div{
    /* margin-bottom: 30px; */
}
.main__aside__itemMargin{
    margin-bottom: 30px;
}
.main__aside__myname img{
    width: 100%;
    height: 100%;
}
/*  */
.main__aside__popularpost_item{
    display: flex;
    margin-top: 15px;
}
.main__aside__h2{
    background-color: black;
    color: white;
    padding: 10px;
}
.main__aside__popularpost_item img{
    width: 70px;
    height: 70px;
}
.main__aside__popularpost_item p{
    margin-left: 15px;
    margin-top: 15px;
}
/*  */
.main__aside__ads p{
    text-align: center;
    width: 100%;
    height: 150px;
    padding-top: 70px;
}
/*  */
.main__aside__tag__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 7px;
    padding: 15px;
}
.main__aside__tag div p{
    background-color: rgb(226, 214, 214);
    display: inline;
}
/* RESPONSIVE for DESKTOP */
@media (min-width: 768px) {
.main__section__all{
    flex-direction: row;
    flex-wrap: wrap;
}
}